.comments {
    margin-left: 190px;

    @media (max-width: $bpTablet) {
        margin-left: 50px;
    }

    @media (max-width: $bpMobile) {
        margin-left: 0;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        position: relative;
        margin-bottom: 16px;

        @media (max-width: $bpMobile) {
            flex-direction: column;
            padding-bottom: 50px;
        }
    }

    &__input {
        margin-right: 20px;
        background: #fbdedd;
        border-radius: 8px;
        padding: 16px;
        font-size: 16px;
        line-height: 19px;
        color: #E5261E;
        border: none;
        outline: none;
        resize: none;
        max-width: 780px;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;

        @media (max-width: $bpTablet) {
            max-width: 500px;
        }

        @media (max-width: $bpMobile) {
            margin-bottom: 15px;
        }
    }

    &__label {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: calc(100% - 800px);
        color: rgba(0, 0, 0, .5);

        @media (max-width: $bpTablet) {
            right: auto;
            left: 520px;
            bottom: auto;
            top: 50px;
            max-width: none;
        }

        @media (max-width: $bpMobile) {
            left: 0;
            top: auto;
            bottom: 0;
        }
    }
}

.comment {
    max-width: 780px;
    box-sizing: border-box;
    width: 100%;
    background: #F2F2F2;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    line-height: 19px;
    
    color: #333333;
    margin-bottom: 16px;
    position: relative;

    @media (max-width: $bpTablet) {
        max-width: 500px;
    }

    @media (max-width: $bpMobile) { 
        max-width: calc(100% - 40px);
    }

    &__login {
        font-weight: 500;
        margin-bottom: 10px;
    }
}