.company {
    font-size: 16px;

    @media (max-width: $bpMobile) {
        font-size: 14px;
    }

    &__address {
        margin-bottom: 5px;
    }

    &__phones {
        margin-bottom: 10px;
    }

    &__cite {
        text-decoration: none;
        color: #1F4766;
        font-weight: 500;
    }
}