.genres {
    display: flex;

    @media (max-width: $bpMobile) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.genre {
    border-radius: 6px;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    max-width: 280px;
    width: 100%;
    margin-right: 20px;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .8;
    cursor: pointer;

    @media (max-width: $bpTablet) {
        max-width: 170px;
        height: 150px;
    }

    @media (max-width: $bpMobile) {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: calc(50vw - 15px);
        width: calc(50vw - 15px);
        height: calc(50vw - 15px);
        max-height: 200px;
    }

    &:hover {
        opacity: 1;
    }

    &:last-child {
        margin-right: 0;
    }

    &--comedy {
        background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    }

    &--drama {
        background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    }

    &--fantasy {
        background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    }

    &--horror {
        background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    }

    &__logo {
        font-size: 48px;
        line-height: 57px;
        display: block;
        margin: 80px auto 30px;

        @media (max-width: $bpTablet) {
            margin: 30px auto 10px;
        }
    }

    &__name {
        font-size: 20px;
        color: #FFFFFF;
    }
}