.search {
    display: flex;
    height: 25px;

    @media (max-width: $bpMobile) {
        height: auto;
    }

    &__btn {
        font-family: 'Rubik', sans-serif;
        color: #E5261E;
        font-weight: 500;
        font-size: 16px;
        border: none;
        background: transparent;

        @media (max-width: $bpMobile) {
            font-size: 14px;
            display: none;
        }
    }
}