.company {
    &__address {
        font-size: 16px;
        margin-bottom: 5px;
    }

    &__phones {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__cite {
        text-decoration: none;
        color: #1F4766;
        font-weight: 500;
    }
}