.movie-container {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}

.movie-item {
    display: flex;
    width: 100%;
    margin-left: 110px;

    &__img {
        border-radius: 8px;
        max-width: 280px;
        width: 100%;
        height: 370px;
        margin-right: 120px;
        position: relative;
        overflow: hidden;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        max-width: 580px;
        width: 100%;
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-bottom: 20px;
    
        span {
            min-width: 80px;
            display: inline-block;
            margin-right: 25px;
        }
    }

    &__desc {
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        max-width: 580px;
        width: 100%;
    }
}